<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EHR Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:insert="fragment/header :: navbar"></div>

    <h1>Admin View | Add Department</h1>
    <div>
        <form action="#" th:action="@{'/organisation/'+${parentorg}+'/createDepartment'}" th:object="${organisation}" method="post">
            <div class="form-group">

                <label for="patientId">Name:</label>
                <input class="form-control" type="text" th:field="*{Name}" id="patientId"/>
                <br/>

                <label for="code">Phone:</label>
                <input class="form-control" type="text" th:field="*{Phone}" id="code"/>
                <br/>

                <label for="system">Website:</label>
                <input class="form-control" type="text" th:field="*{Website}" id="system" />
                <br/>

                <button class="btn btn-primary" type="submit">Add Department</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>