<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EHR Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:insert="fragment/header :: navbar"></div>

    <h1>Patient Conditions</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Time</th>
                <th>Description</th>
                <th>details</th>
            </tr>
        </thead>
        <tbody th:if="${conditionBundle.size() &gt; 0}" th:each="condition : ${conditionBundle}" >
            <tr>
                <td>
                    <span th:if="${condition.getCategory().size() &gt; 0}" th:text="${condition.getCategory().get(0).getText()}"></span>
                </td>
                <td>
                    <span th:utext="${condition.getText().getDivAsString()}"></span>
                </td>
                <td>
                    <a th:href="${condition.getIdBase()}">
                        <span th:text="${condition.getIdBase()}"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>