<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EHR Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:insert="fragment/header :: navbar"></div>

    <h1>Admin View | Show Department</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody th:if="${departments.size() &gt; 0}" th:each="organization : ${departments}">
        <tr>
            <td>
                <span th:text="${organization.getName()}"></span>
            </td>
            <td>
                <a th:href="${organization.getIdBase()}+'/'">
                    Details
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${departments.size() &gt; 0}" class="alert alert-primary" role="alert">
        No departments found for the organisation.
    </div>
</div>
</body>
</html>